*{
    margin:0;
    padding: 0%;
box-sizing: border-box;
}
body{
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.about
{
 background: url(3.png) no-repeat;   
 background-size: 55%;
 background-color: aqua;
 overflow: hidden;
 padding: 100px 0;
}
.inner{
    width:55%;
    float: right;
    background-color:rgb(111, 111, 182);
    padding: 140px;
    box-shadow: 12px 12px 8px rgb(0, 0, 0.5);

}
.inner h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 18px;
    color: rgb(10, 9, 10);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;


}

.skills button
{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: aquamarine;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 2s;
    background-color: beige;
    color: aqua;
}
